<footer>
    <a href="/List" class="btn btn-primary" role="button" style="font-size: 2rem;">Show My Lists</a>
    <p class="text-center text-muted">&copy; Copyright 2020</p>
</footer>
</body>

</html>
