<%- include('partials/header'); -%>
    <h1 class="center">About US</h1>
<p class="center">This is a course from Udemy !!</p> 

<a class="btn btn-primary" href="/" role="button">Go To Index</a>

<%- include('partials/footer'); -%>
